@model magnovault.Site.ViewModels.HomeViewModel

<div class="modal" id="response-modal">
     <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <div class="row">
                         <div class="col-sm-2">
                              <h3 class="modal-title">Your order was submitted</h3>
                         </div>

                         <div class="col-sm-6">
                              <span style="font-size:14px; font-weight:bold; font-style:italic; color:firebrick;">Secured by:</span>
                              <img src="~/Content/authorize-net-logo.png" height="30" /><br />
                         </div>

                         <div class="col-sm-2" style="text-align:right;">
                              @if (Request.IsAuthenticated)
                              {
                                   <p>Welcome, @User.Identity.Name</p>
                              }
                         </div>

                         <div class="col-sm-2">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                   <span aria-hidden="true">Close</span>
                              </button>
                         </div>
                    </div>
               </div>  @*modal-header*@

               <div class="modal-body" style="text-align:center">
                    <h4 class="form-column-header">&nbsp;</h4>
                    <hr />
                    <p id="response-deliverytime">Estimated Delivery @Model.DeliveryTime</p>
                    <h2 id="response-result"></h2>
                    <div id="response-message"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                         <span aria-hidden="true">Close</span>
                    </button>
               </div>  @*modal-body*@
          </div>  @*modal-content*@
     </div>  @*modal-dialog*@
</div>  @*modal*@


